.autoWidth {
    width: min(80rem, 100vw - 2rem);
    margin-inline: auto;
}

.card {
    background-color: lightblue;
    border: solid 2px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}