body {
    margin: 0;
}

.autoWidth {
    width: min(55rem, 100vw - 2rem);
    margin-inline: auto;
}

.cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cards>li {
    background-color: lightblue;
    border: solid 2px black;
    padding: 1rem;
    margin: 0.5rem;
}